@media screen and (max-width: 768px) {
  .services {
    padding: 20px 0;
  }
  .header {
    flex-direction: column-reverse;
    align-items: stretch;
    gap: 10px;
  }

  .logo-container {
    padding: 10px 0;
  }
  .logo {
    max-width: 80px;
  }
  .logo-slash {
    max-height: 24px;
  }
  .logo-text {
    font-size: 19px;
    line-height: 22px;
  }
  .logo-symbol {
    max-width: 24px;
  }
  .logo-container .nav-open {
    display: block;
    padding: 0;
  }

  .header-contacts {
    justify-content: space-between;
  }

  .header-contacts .address,
  .header-contacts .social-link,
  .address::after,
  .phone-number::after,
  .social-link::after {
    display: none;
  }
  .phone-number {
    font-size: 16px;
    line-height: 19px;
    color: #ffffff;
  }
  .header-nav {
    display: none;
    flex-direction: column;
    align-items: stretch;
    gap: 11px;
    padding: 64px 20px 20px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 12px 12px 0px 0px;
    background-color: #fff;
  }

  #nav-trigger:checked + .header-nav {
    display: flex;
  }

  .header-nav .nav-close {
    display: block;
  }

  .header-nav .nav-link {
    padding: 8px;
    background: #f5f5fa;
    border-radius: 12px;
    color: #24a3ff;
    text-align: center;
    font-size: 24px;
    line-height: 28px;
  }
  .services-cards {
    margin-top: 20px;
  }
  .services-card .card-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
  }
  .cases {
    margin-top: 40px;
    padding: 0;
  }
  .company-link {
    flex-basis: calc(100% / 2);
    flex-grow: 1;
  }
  .footer-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .nav-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0;
  }
  .address-font_weight {
    font-weight: bold;
  }
  .address-footer {
    margin: 0;
    font-size: 16px;
    line-height: 19px;
    color: #323264;
  }
  .map {
    margin: 10px 0 20px 0;
  }
  .map::before,
  .phone-number_footer::before,
  .mail-footer::before {
    display: none;
  }
  .social-link__footer,
  .phone-number_footer,
  .mail-footer {
    margin-bottom: 20px;
  }
}
