* {
  box-sizing: border-box;
  font-family: "TT Norms";
}

body {
  margin: 0;
}

/* Первая страница  */

.header-main {
  margin: 0;
  padding: 50px 0 48px 0;
  min-height: 100vh;
  background: linear-gradient(
    228.57deg,
    #323264 11.93%,
    #323264 57.17%,
    #643e72 87.46%
  );
  border-radius: 0px 0px 12px 12px;
}
.container {
  max-width: 1290px;
  margin: 0 auto;
  padding: 0 15px;
}
.header {
  margin: 0;
  padding: 0;
}
.wrapper_header {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}
.logo {
  width: 50%;
}
/* =======Костылял логотип======== */
.logo1st {
  display: inline-block;
  vertical-align: top;
}
.logo2nd {
  display: inline-block;
  vertical-align: bottom;
}
.logo_special {
  color: #f0145a;
  font-size: 48px;
  font-weight: bold;
}
.word1 {
  color: #ffff;
  font-size: 48px;
  font-weight: bold;
}
.logo .word2 {
  font-size: 38px;
  font-weight: 300;
  font-style: normal;
  color: #ffffff;
}
.logo2nd.logo-image {
  width: 41.31px;
  height: 46.9px;
}
.logo-subtitle {
  text-transform: uppercase;
  font-size: 9px;
  color: #ffff;
  letter-spacing: 1px;
  font-weight: 500;
}
/* ============ */

/* Навигация+инфо */

.wrapper-info-nav {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.info-nav {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
}
li {
  color: #e6e6f0;
}
li.info-nav-item,
li.nav-list__item {
  list-style: none;
}
li.info-nav-item a {
  text-decoration: none;
}
.info-nav-item a {
  font-size: 12px;
  font-weight: normal;
  color: #ffffff;
  letter-spacing: 1.8px;
}
.info-nav-item2 a {
  font-size: 16px;
  color: #b3b3ba;
}
.info-nav-item2.item_info-tel .link__tel {
  font-weight: 500;
}

/* =======КОНЕЦ ИНФО====== */

/* НАВИГАЦИЯ */
.nav-list {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

/* ========КОНЕЦ НАВИГАЦИИ====== */
/* =========================== */
/* ==========Конец первой страницы============ */
