* {
  box-sizing: border-box;
  font-family: "TT Norms";
}

body {
  margin: 0;
  min-width: 1230px;
}

/* Первая страница  */

.header-main {
  margin: 0;
  padding-top: 50px;
  min-height: 100vh;
  background: linear-gradient(
    228.57deg,
    #323264 11.93%,
    #323264 57.17%,
    #643e72 87.46%
  );
  border-radius: 0px 0px 12px 12px;
  box-shadow: 0 40px 0 -30px #cacadb, 0 70px 0 -50px #e7e7f2;
}
.container {
  max-width: 1290px;
  margin: 0 auto;
  padding: 0 15px;
}
.header {
  margin: 0;
  padding: 0;
}
.wrapper_header {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}
.logo {
  width: 50%;
}
/* =======Логотип======== */
.logo1st {
  display: inline-block;
  vertical-align: top;
}
.logo2nd {
  display: inline-block;
  vertical-align: bottom;
}
.logo_special {
  color: #f0145a;
  font-size: 48px;
  font-weight: bold;
}
.word1 {
  color: #ffff;
  font-size: 48px;
  font-weight: bold;
}
.logo .word2 {
  font-size: 38px;
  font-weight: 300;
  font-style: normal;
  color: #ffffff;
}
.logo2nd.logo-image {
  width: 41.31px;
  height: 46.9px;
}
.logo-subtitle {
  text-transform: uppercase;
  font-size: 9px;
  color: #ffff;
  letter-spacing: 1px;
  font-weight: 500;
}
/* ============ */

/* НАВИГАЦИИ+ИНФО */

.wrapper-info-nav {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.info-nav {
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
li {
  color: #e6e6f0;
}
li.info-nav-item,
li.nav-list__item {
  list-style: none;
}
li.info-nav-item a {
  margin-left: 8px;
  text-decoration: none;
}
.info-nav-item a:hover {
  padding: 5px;
  background-color: #f0145a;
  border-radius: 30%;
}
.info-nav-item a {
  font-size: 12px;
  font-weight: normal;
  color: #ffffff;
  letter-spacing: 1.8px;
}
.info-nav-item2 a {
  text-decoration: none;
  font-size: 16px;
  color: #b3b3ba;
}
.info-nav-item2 a:hover {
  color: tomato;
}
.info-nav-item2.item_info-tel .link__tel {
  font-weight: 600;
}
/* =======КОНЕЦ ИНФО====== */

/* НАВИГАЦИЯ */
.nav-list {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-end;
}
.nav-list__item a {
  text-decoration: none;
  font-size: 18px;
  color: #ffffff;
}
.nav-list__item a:hover {
  text-decoration: underline;
}
.nav-list li {
  margin-right: 15px;
}
.nav-list li:last-child {
  margin-right: 0;
}
/* ========КОНЕЦ НАВИГАЦИИ====== */
/* =====КОНЕЦ НАВИГАЦИИ+ИНФО==== */

/* СЕКЦИЯ ОБЩЕЙ ИНФОРМАЦИИ */
.hero {
  margin-top: 75px;
  padding: 0;
}
.hero__slogan {
  font-size: 42px;
  font-weight: bold;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(to right, #f0145a 0%, #ef8080 100%);
}
.main {
  margin-top: 68px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-between;
}
.main-items {
  width: 30%;
}
.main-title {
  padding: 0;
  margin-top: 20px;
  font-size: 24px;
  color: #24a3ff;
}
.main-text {
  padding: 0;
  margin-top: 15px;
  font-size: 18px;
  color: #ffffff;
}
.main .main-items {
  margin-bottom: 48px;
}
/* ======КОНЕЦ СЕКЦИИ ОБЩЕЙ ИНФОРМАЦИИ======= */

/* ==========Конец первой страницы============ */
/* Успешные кейсы */
.section-cases {
  margin-top: 60px;
  padding: 0;
  background-color: #f5f5fa;
  border-radius: 12px 12px 12px 12px;
}

/* Блок 1 */
.cases-wrapper__block {
  margin: 0;
  padding: 0;
  display: flex;
  width: 100%;
  flex-flow: row wrap;
}
.item__block1 {
  width: 33.3%;
  padding: 20px 0 20px 20px;
  font-size: 14px;
  line-height: 17px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #f0145a;
}
.item__block1 {
  border: 1px solid #ffffff;
}
.item__block1:nth-child(2) {
  border-bottom: none;
}
.item__block1:nth-child(3) {
  border-bottom: none;
  border-right: none;
}
/* --------------- */
/* Блок 2 */
.item__block2 {
  margin: 0;
  width: 33.3%;
  padding: 48px 20px 20px 20px;
  font-size: 24px;
  line-height: 28px;
  color: #686887;
  border-top: 1px solid #ffffff;
  border-left: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  border-radius: 0px;
}
.item__block2:nth-child(2) {
  border-top: none;
}
.item__block2:nth-child(3) {
  border-right: none;
  border-top: none;
}
.inner-item {
  margin-top: 20px;
  font-size: 18px;
  line-height: 26px;
  color: #b3b3ba;
}
/* ----------------------- */

/* Блок 3 */
.item__block3 {
  margin: 0;
  width: 33.3%;
  padding: 20px 20px 20px 20px;
  font-size: 24px;
  line-height: 28px;
  color: #686887;
  border-top: 1px solid #ffffff;
  border-left: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  border-radius: 0px;
}
.item__block3:first-child {
  width: 20%;
}
.item__block3:nth-child(2),
.item__block3:nth-child(3) {
  width: 40%;
  padding-top: 76px;
}
/* ------------------------ */
/* ====================== */
/* Список компаний */
.subtitle-main-wrapper {
  margin-top: 30px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.subtitle {
  font-size: 14px;
  line-height: 17px;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #323264;
}
.company-wrapper {
  margin-top: 30px;
  display: flex;
  flex-flow: row wrap;
}
.company-logo {
  width: 25%;
}
/* ================== */
/* Футер */
.footer-wrapper {
  margin: 0;
  padding-top: 32px;
  padding-bottom: 60px;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.nav-wrapper {
  margin: 0;
  padding: 0;
  width: 35%;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
}
.nav-wrapper__item1 a {
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #323264;
}
.nav-wrapper__item1,
.nav-wrapper__item3 {
  list-style: none;
}
.nav-wrapper__item2 a {
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  color: #24a3ff;
}
.nav-wrapper__item2 {
  margin-left: 47px;
}
.nav-wrapper__item3 i {
  color: #24a3ff;
  font-size: 38px;
}
.nav-wrapper__item4-color a {
  font-style: normal;
  font-weight: bold;
  text-decoration: none;
  font-size: 16px;
  line-height: 19px;
  color: #46466e;
}
.nav-wrapper__item5 a {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
  color: #24a3ff;
}

.copyright-wrapper {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #b3b3ba;
}
.nav-wrapper__item {
  margin-top: 22px;
}
.nav-wrapper__item4 {
  margin-left: 27px;
}

.nav-wrapper__item5 {
  margin-left: 32px;
}
.nav-wrapper__link a:hover {
  text-decoration: underline;
  color: tomato;
}
/* =======Конец футера======== */
